body{
    margin : 50px
}
section{
    margin-bottom: 10px;
}
.stats, .bugname {
    font-size: 18pt;
}
.closed{
    text-decoration: line-through;
    color : red;
    font-style: italic;
}
.bugname{
    cursor : pointer;
}
ol{
    list-style : none;
    width : 500px;
    -webkit-padding-start: 0px;
}
li{
    margin-bottom : 10px;
    padding : 10px;
    border-radius: 5px;
    border : 1px solid gray;
    background-color: #e7e7e7;
}
.datetime{
    font-style : italic;
}